<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KWK Level 1 Helper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">KWK Level 1 Helper</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/command_line">Command Line</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ruby
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/rintro">Intro to Ruby</a>
              <a class="dropdown-item" href="/rmethods">Ruby Methods</a>
              <a class="dropdown-item" href="/rlogic">Logic and Conditionals</a>
              <a class="dropdown-item" href="/rloops">Loops</a>
              <a class="dropdown-item" href="#">Arrays and Iteration - Coming Soon</a>
              <a class="dropdown-item" href="#">Hashes - Coming Soon</a>
              <a class="dropdown-item" href="#">Nested Data and Iteration - Coming Soon</a>
              <a class="dropdown-item" href="#">CLI Apps - Coming Soon</a>
              <a class="dropdown-item" href="/roo">Object Orientation</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html">HTML</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/css">CSS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              HTML & CSS Life Hacks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/bootstrap">Styling with Bootstrap</a>
              <a class="dropdown-item" href="/ui_gradients">Backgrounds with UI Gradients</a>
              <a class="dropdown-item" href="/google_fonts">Fonts with Google Fonts</a>
              <a class="dropdown-item" href="/icons">Icons with Font Awesome</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sinatra">Sinatra</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/advice">Advice</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <h1 class="heading">My Advice to You</h1>
    
    <h4 class="subheader">“I’m a bad programmer because I’m using Google!”</h4>
    <p class="info">
        Professional Software Engineers use Google every day in their work. It is a great resource that should not be overlooked. Being good at using Google is actually a valuable skill as a programmer. Don’t be afraid to ask questions, whether it be to Google, an Instructor, Instructor Assistant (like me), or a friend. We’re all in this together.
    </p>
    
    <h4 class="subheader">“These error messages are freaking me out! I can’t pass all the tests!”</h4>
    <p class="info">
        I notice that a lot of students get stressed over not successfully completing all the tests that Learn puts your code through, but remember that you're not getting graded for the work you do here. It's okay if you don't pass every test, what's important is that you're learning. Sometimes Learn will fail your tests over little issues like forgetting to put a period at the end of a sentence, or not wording the output exactly how they ask you to. These details don't matter when it comes to learning how to code. The concepts are important, and passing the tests are just a bonus!
        <br><br>
        That being said, failing Learn’s tests can actually be extremely helpful. It is a valuable skill to be able to debug code and read error messages, and this skill comes with practice. So next time you see that long error message, don’t freak out... Just take a deep breath in and start looking for information to figure out what went wrong. Error messages often give you the line number that they’re coming from, so that is always a great place to start your detective search. 
    </p>
    
    <h4 class="subheader">“Coding is ‘too hard’ and I feel too intimidated to pursue Computer Science!”</h4>
    <p class="info">
        I am not going to sugarcoat any bit of how difficult Computer Science and coding really is. It’s 2018, and I just finished my first year of college majoring in Computer Science. Some concepts are always easier to grasp than others, and those concepts differ from person to person. However, although it’s hard, it is not impossible. If you think about it, anything you choose to pursue in life is going to be hard. They all come with their own obstacles and challenges, but if you’re determined and passionate, you will overcome them. Yes, coding can be difficult, but so is becoming a pastry chef, lawyer, interior designer, doctor, and more! So never feel like it’s out of your reach for the sheer fact that it is “too difficult”. Nothing good ever came easy anyways.
    </p>
    
    <h4 class="subheader">"What keeps you motivated to continue Computer Science?"</h4>
    <p class="info">
        What I love so much about being a woman in Computer Science is the community. I love looking at other women killing it in the tech industry and Computer Science specifically. Out of all bachelor degrees in Computer Science, only 18% are women... we need to change that by supporting each other and breaking the stereotypes. When I meet other women in college and I find out that they are also coders, it makes me instantly feel closer and connected to them because we have something that I hold very dear to my heart in common. This sense of community branches even further than just WICS (Women in Computer Science), it doesn’t matter what someone’s gender is, Computer Science unites everyone. Computer Science isn’t easy, but with a community to support you it can become easier. So, hold on tight to the friendships you make during camp. Keep in touch with each other, and be each other’s greatest cheerleaders and number one fans. Kode with Klossy is a remarkable program that is meant to inspire you and help you start building your community.
    </p>
    
    <div style="text-align: center;">
        <h4 class="subheader">More Questions?</h4>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdPpKDxPHX0cXmjCLqvcfqIEK4UQQQSqH0TBuoOR-QVUYC78Q/viewform?embedded=true" width="700" height="520" frameborder="10" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    
    
    
    
    

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>