<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KWK Level 1 Helper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">KWK Level 1 Helper</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/command_line">Command Line</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ruby
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/rintro">Intro to Ruby</a>
              <a class="dropdown-item" href="/rmethods">Ruby Methods</a>
              <a class="dropdown-item" href="/rlogic">Logic and Conditionals</a>
              <a class="dropdown-item" href="/rloops">Loops</a>
              <a class="dropdown-item" href="/rarrays">Arrays and Iteration</a>
              <a class="dropdown-item" href="/rhashes">Hashes - Coming Soon</a>
              <a class="dropdown-item" href="#">Nested Data and Iteration - Coming Soon</a>
              <a class="dropdown-item" href="#">CLI Apps - Coming Soon</a>
              <a class="dropdown-item" href="/roo">Object Orientation</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html">HTML</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/css">CSS</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              HTML & CSS Life Hacks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/bootstrap">Styling with Bootstrap</a>
              <a class="dropdown-item" href="/ui_gradients">Backgrounds with UI Gradients</a>
              <a class="dropdown-item" href="/google_fonts">Fonts with Google Fonts</a>
              <a class="dropdown-item" href="/icons">Icons with Font Awesome</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sinatra">Sinatra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/advice">Advice</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <h1 class="heading">Icons with Font Awesome</h1>
    
    <p class="info">
      <strong>Font Awesome</strong> allows us to use professional and clean looking icons! First off, we must remember to supply a <code>&lt;link&gt;</code> in the <code>&lt;head&gt;</code> of our HTML file that we are trying to use these icons in.
    </p>
    
    <p class="info">
    <code style="font-family: 'Source Code Pro', monospace;">
      &lt;<code style="color:#181c6d;">link</code> <code style="color:#1597d8;">rel=</code>"stylesheet" <code style="color:#1597d8;">href=</code>"https://use.fontawesome.com/releases/v5.1.0/css/all.css" <code style="color:#1597d8;">integrity=</code>"sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" <code style="color:#1597d8;">crossorigin=</code>"anonymous"&gt;
    </code>
    </p>
    
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="info" style="padding:20px;">
          Now, you’re free to explore Font Awesome and search through all the different icons that they provide. Once you’ve found something you like, copy the HTML code provided and paste it into your HTML file where you would like the icon to be!
          </p>
        </div>
        <div class="col">
          <div style="padding:20px;">
            <a class="btn btn-primary btn-lg" style="padding:10px;" href="https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css" target="_blank">
            Link to Font Awesome
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <img src="/images/fa1.jpeg" alt="Font Awesome 1" style="width:700px;height:400px;" class="center"><br><br>
    <p class="info">
      The HTML code is shown at the bottom of the page, with the option to copy it directly.
      <br><br>
      Here is an example of what my HTML file looks like after I have included the <code>&lt;link&gt;</code> in the <code>&lt;head&gt;</code> and copied and pasted the code for the address-card icon in my <code>&lt;body&gt;</code>.
    </p>
    <img src="/images/fa2.jpeg" alt="Font Awesome 2" style="width:900px;height:400px;" class="center"><br>
    
    <p class="info">
      More information can be found on the site on how to resize images! Some images need to be paid for in order to use them, but most have a free option. Good luck! <br><br>
    </p>
    
    <a class="btn btn-outline-primary btn-lg btn-block" href="/sinatra">Continue to Sinatra</a>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>